@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  --primary-color: black;
  --secondary-color: #00cc99;
  --tertiary-color: #ff9933;
}

/* Typography */

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);

  padding: 2rem;
}

.app-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.txt-container{
  padding: 2rem;
}
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; /* spacing between grid items */
}

.card {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.card-img {
  width: 100%;
  max-width: 300px;
  
}

.card-name {
  padding: 1rem;
  font-size: 1.5rem;
}
